{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Docklr{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('.static', filename='docklr.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('.static', filename='docklrico.css') }}">
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Docklr</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="/etcd">etcd</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="starter-template">
            <h1>Docklr Home</h1>

            <p class="lead">Its not much but is a start for things to come....</p>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Choose Cluster Config:</h3>
            </div>
            <div class="panel-body">
                <div class="form">
                    <div class="form-group">
                        <select id="cluster-select" class="form-control">
                            {% for profile in configs %}
                                <option value="{{ profile.id }}">{{ profile.cluster_name }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="form-group">
                        <a href="#" class="btn btn-xs btn-primary"
                           data-toggle="modal"
                           data-target="#basicModal">Add Cluster Config</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Current cluster config:</h3>
            </div>
            <div class="panel-body">
                <div id="test"></div>
            </div>

        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" id="cluster-detail" class="right" aria-hidden="true"><span
                        class="icon-node-detail" aria-hidden="true"></span></button>
                <button type="button" id="cluster-refresh" class="right" aria-hidden="true"><span
                        class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                <h3 class="panel-title" name="cluster">Cluster:</h3>
            </div>
            <div class="panel-body">
                <div class="well">
                    <div id="clusterlayout"></div>
                </div>
            </div>

        </div>


    </div>

    <!-- /.container -->

    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; 2014 Docklr</p>
        </div>
    </footer>
    {% include "frm-addconfig.html" %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        var options = {
            "backdrop": "false"
        };

        function loadClusterInfo() {
            var url = "clusterinfo/" + $("#cluster-select").val();
            var clurl = 'clusterlayout/' + $("#cluster-select").val();
            $.getJSON(url, function (data) {
                var elem = JSON.stringify(data)
                $("#test").text(elem)
            });
            $("#clusterlayout").load(clurl);

        }

        $(document).ready(function () {
            $("#add-config-btn").click(function (event) {
                $('#basicModal').modal(options);
            });
            $('#frm-cluster-submit-btn').click(function () {
                $.ajax({
                    url: '/clusterconfig',
                    type: 'post',
                    dataType: 'json',
                    data: $('#clusterinfo').serialize(),
                    success: function (data) {

                    }
                });
            });
            {% block formscripts %} {% endblock %}
        });
        $("#cluster-select").change(function () {
            loadClusterInfo()
        });
        $("#cluster-refresh").click(function() {
            loadClusterInfo()
        });
        $(document).on('click', ".dr-remove-node", function (event) {
            var n = $(this).attr("node");
            var url = "removenode/" + n
            $.get(url, function (data) {
                var clurl = 'clusterlayout/' + $("#cluster-select").val();
                $.getJSON(url, function (data) {
                    var elem = JSON.stringify(data)
                    $("#test").text(elem)
                });
                $("#clusterlayout").load(clurl);
                alert("Remove was performed.");
            });
        })

    </script>
{% endblock %}