{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}Docklr{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('.static', filename='docklr.css') }}">
    <link rel="stylesheet"
          href="{{ url_for('.static', filename='docklrico.css') }}">
{% endblock %}
{% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Docklr</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="/etcd">etcd</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
{% endblock %}

{% block content %}

    <div class="container">
        <div class="starter-template">
            <h1>Docklr Home</h1>

            <p class="lead">Its not much but is a start for things to come....</p>
        </div>
        <!--Cluster selection and config generation-->

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Choose Cluster Config:</h3>
            </div>
            <div class="panel-body">
                <div class="form">
                    <div class="form-group">
                        <select id="cluster-select" class="form-control">
                            {% for profile in configs %}
                                <option value="{{ profile.id }}">{{ profile.cluster_name }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="form-group">
                        <a href="#" id="addconfig" class="btn btn-xs btn-primary">Add Cluster Config</a>
                        <a href="#" class="btn btn-xs btn-primary"
                           data-toggle="modal"
                           data-target="#NewDiscoveryModal">Create new Discovery Record</a>
                    </div>
                </div>
            </div>

        </div>
        <!--Cluster Display -->

        <div class="panel panel-default">
            <div class="panel-heading">
                <button type="button" id="cluster-detail" class="right" aria-hidden="true" data-toggle="tooltip"
                        data-original-title="Display Discovery Data"><span
                        class="icon-node-detail" aria-hidden="true"></span></button>
                <button type="button" id="cluster-refresh" class="right" aria-hidden="true" data-toggle="tooltip"
                        data-original-title="Refresh"><span
                        class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                <h3 class="panel-title" name="cluster">Cluster:</h3>
            </div>
            <div class="panel-body">
                <div class="well">
                    <div id="clusterlayout"></div>
                </div>
            </div>

        </div>


    </div>

    <!-- /.container -->

    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; 2014 Docklr</p>
        </div>
    </footer>
    <!--Modal dialogs-->
    <div id="modal"></div>
    {% include "frm-newconfig.html" %}
    {% include "ft_clusterconfig.html" %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        var options = {
            "backdrop": "false"
        };

        function loadDiscoveryInfo() {
            var url = "clusterinfo/" + $("#cluster-select").val();
            $.getJSON(url, function (data) {
                // var obj = JSON.parse(data)
                var jsonPretty = JSON.stringify(data, null, '\t');
                $("#raw-cluster-config").text(jsonPretty)
            });
        }
        ;

        function loadClusterInfo() {
            var clurl = 'clusterlayout/' + $("#cluster-select").val();
            $("#clusterlayout").load(clurl);

        }
        ;


        $(document).ready(function () {
            loadClusterInfo()
            $('[data-toggle="tooltip"]').tooltip({
                placement: 'top'
            });

            $("#cluster-detail").click(function (event) {
                loadDiscoveryInfo();
                $('#raw-cluster-configModal').modal(options);
            });
            $(document).on('click', "#frm-submit-btn", function (event) {
                $.ajax({
                    url: $("#clusterinfo").attr('action'),
                    type: $("#clusterinfo").attr('method'),
                    type: $("#clusterinfo").attr('method'),
                    dataType: 'json',
                    data: $('#clusterinfo').serialize(),
                    success: function (data) {
                        $('#cluster-select').append($('<option/>').attr("value", data.cluster.id).text(data.cluster.cluster_name))
                        $('#ConfigModal').modal('toggle');
                        $('#modal').html("")
                    }
                })
            })
            $('#addconfig').click(function () {
                // load html here
                var clurl = '/frm/config';
                $("#modal").load(clurl, function () {
                    $('#ConfigModal').modal();
                });
            });
            $('#editclusteconfig').click(function () {
                // load html here
                var clurl = 'ld/clusterconfig/edit' + $("#cluster-select").val();
                $("#modal").load(clurl);
            });
            $('#frm-addcluster-submit-btn').click(function () {
                $.ajax({
                    url: '/addclusterconfig',
                    type: 'post',
                    dataType: 'json',
                    data: $('#clusterinfo').serialize(),
                    success: function (data) {
                        $('#cluster-select').append($('<option/>').attr("value", data.cluster.id).text(data.cluster.cluster_name))
                        $('#AddConfigModal').modal('toggle');
                    }
                });
            });
            $('#frm-newcluster-submit-btn').click(function () {
                $.ajax({
                    url: '/newclusterconfig',
                    type: 'post',
                    dataType: 'json',
                    data: $('#newclusterconfig').serialize(),
                    success: function (data) {
                        $('#cluster-select').append($('<option/>').attr("value", data.cluster.id).text(data.cluster.cluster_name))
                        $('#NewDiscoveryModal').modal('toggle');
                    }
                });
            });

            $("#cluster-select").change(function () {
                loadClusterInfo()
            });
            $("#cluster-refresh").click(function () {
                loadClusterInfo()
            });
            $(document).on('click', ".dr-remove-node", function (event) {
                var n = $(this).attr("node");
                var url = "removenode/" + n
                $.get(url, function (data) {
                    var clurl = 'clusterlayout/' + $("#cluster-select").val();
                    $.getJSON(url, function (data) {
                        var elem = JSON.stringify(data)
                        $("#test").text(elem)
                    });
                    $("#clusterlayout").load(clurl);
                    alert("Remove was performed.");
                });
            })
        });

    </script>
{% endblock %}