/*
  Icon Font: docklrico
*/

@font-face {
  font-family: "docklrico";
  src: url("./docklrico.eot");
  src: url("./docklrico.eot?#iefix") format("embedded-opentype"),
       url("./docklrico.woff") format("woff"),
       url("./docklrico.ttf") format("truetype"),
       url("./docklrico.svg#docklrico") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "docklrico";
    src: url("./docklrico.svg#docklrico") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.icon-details:before,
.icon-details-light:before,
.icon-details-orig:before,
.icon-node-detail:before,
.icon-nodes:before {
  display: inline-block;
  font-family: "docklrico";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.icon-details:before { content: "\f100"; }
.icon-details-light:before { content: "\f101"; }
.icon-details-orig:before { content: "\f107"; }
.icon-node-detail:before { content: "\f108"; }
.icon-nodes:before { content: "\f102"; }
